@import 'assets/styles/index.css';

body {
  margin: 0;
  background: url('../public/Background.png') center center;
  font-family: 'Arial', serif;
  overflow: hidden;
}

a {
  font-weight: bold;
  word-spacing: 2px;
  color: var(--text-common);
  cursor: pointer;
}

h1 {
  box-sizing: content-box;
  font-size: 1100%;
  margin: 0;
  color: var(--text-common);
}

h2 {
  font-size: 570%;
  margin-top: -3rem;
  margin-bottom: 0;
  color: var(--text-common);
}

h3{
  font-size: 150%;
  margin-bottom: 0;
  color: var(--text-common);
  text-align: center;
}

p{
  color: var(--text-common);
}

input {
  border: none;
  padding: 0 1em;
  border-radius: 2%/50%;
}

input::placeholder {
  color: #A6A39C;
}

.accent-button {
  width: 120px;
  height: 35px;
}

:root {
  --common-background: #E8E8E6;
  --accent-bacground: #4A674B;
  --common-interactive: #ccc9c5;
  --accent-interactive: #4A674B;
  --text-common: #FFF;
  --text-accent: #000;
}

* {
  transition: 0.3s ease-in-out;
}