.Info-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding-top: 1rem;
  width: 30%;
  height: 100%;
}

.Info-block__header{
  margin-bottom: 3vh;
}

.Info-block p {
  font-weight: bold;
}

.Info-block__footer {
  box-sizing: border-box;
  border-radius: 5%/7%;
  margin-top: 2%;
  margin-bottom: 4%;
  padding: 2vh;
  background: rgba(29, 40, 29, 0.3);
}