.race {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    min-height: 75%;
    max-height: 93%;
    background-color: var(--common-interactive);
    border-radius: 2%/4%;
    padding: 1rem;
    gap: 0.5rem;
}

.race--reduced{
    height: 70%;
}

.race__picture img {
    width: 15rem;
}

.race__basic__title {
    font-weight: bold;
    font-size: 1.5rem;
}

.race__basic__info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.race__option {
    box-sizing: border-box;
    background-color: var(--more-accent-background);
    font-size: 0.8rem;
    width: 15rem;
    padding: 0.3rem 0 0.3rem 0.3rem;
}

.race__desc {
    overflow-x: hidden;
    overflow-y: auto;
}

.race__desc::-webkit-scrollbar {
    width: 3.5vh;
    background-color: var(--common-interactive);
    border-radius: 4px;
    border-left: solid 1.5vh var(--common-interactive);
}

.race__desc::-webkit-scrollbar-thumb {
    background-color: var(--text-common);
    border-radius: 4px;
    border-left: solid 1.5vh var(--common-interactive);
}

.race__desc p{
    font-size: 1rem;
    color: var(--text-accent);
}